<div class="container">
  <div class="row">
    <div class="conversation-wrap col-lg-3">

      <% if @threads.length == 0 %>
        <div class="media conversation">
          <div class="media-body">
              <small>Your inbox is empty. Don't be shy, reach out more often!</small>
          </div>
        </div>
      <% end %>

      <% @threads.each_with_index do |thread, thread_index| %>
      <% message = thread.first %>
        <a class="media conversation thread-link" href="/messages/threads/<%= thread_index %>">
            <div class="pull-left" >
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="">
            </div>
            <div class="media-body">
                <h5 class="media-heading"><%= message.sender.first_name %>, <%= message.children_messages[0].sender.first_name %> </h5>
                <small><%= thread.last.message %></small>
            </div>
        </a>
      <% end %>
    </div>

    <div class="message-wrap col-lg-8" id="thread-wrap">
      <h4>Click on a message on the left to continue your conversation!</h4>
    </div>
  </div>
</div>
