<h3> The concept of <strong>empathy</strong> originates from the German word Einfühlung (pronounced eín-fhoo-loong)</h3>
<br>

<h4>What is Speak?</h4>

<h4>Speak is a place for people to connect with those they would never expect to engage with in real life. It is established from the belief that the purest connections are born from a shared interest in our rawest thoughts and emotions, not our photos, our race, nor where we come from.</h4>

<h4>In other words, Speak is a forum for people to share personal and private issues that they would otherwise not be comfortable sharing in daily life, because let's face it, we all feel the restraints from everything going on in our lives.</h4>

<h4>Instructions are simple&mdash;after you've logged in, simply create a post from the home page. Once your post is generated, it will be displayed on the homepage, where people can see and respond to it. Unlike most social platforms, none of the responses will be displayed, but instead, will initiate a private conversation that you're free to continue or discontinue. However, out of courtesy, it'd be appreciated if you replied a simple thank you to those who left you a message, whether it's simple encouragement, a congratulations, or personal advice. Who knows, maybe there's an opportunity waiting on the other end.</h4>

<h4>So what are you waiting for? Go on, and Speak out!</h4>